@model string
<html>
<head>
<link rel="stylesheet" href="SourceBrowser/styles/idea.css" />
<script src="SourceBrowser/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<pre>
<code id="code">@Model</code>
</pre>
</body>
</html>	