@model SourceBrowserModel
<html>
<head>
<link rel="stylesheet" href="SourceBrowser/styles/@(Model.Theme).css" />
<script src="SourceBrowser/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<pre>
<code id="code">@Model.Content</code>
</pre>
</body>
</html> 